@page "/order-success"
<div class="container">
    <h1>Gracias por tu compra!</h1>
    <p>
      Apreciamos su transacción!
      Si usted tiene alguna duda, por favor, evíe un correo electronico a
      <a href="mailto:soporte@brainFantasyShop.com">soporte@brainFantasyShop.com</a>.
    </p>
</div>


@code {

}
