@page "/login"
@using PracticaBlazor.UI.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject IToastService toastService
@using Microsoft.AspNetCore.Authorization;


<div id="account-login" class="container containerPers">
  <ul class="breadcrumb">
        <li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="/login">Account</a></li>
        <li><span>Login</span></li>
      </ul>
      <div class="row">
                <div id="content" class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <div class="well" data-match-height="items-well" style="height: 413px;">
            <h2>New Customer</h2>
            <p><strong>Register</strong></p>
            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
            <a href="/usuario/registro" class="btn btn-primary">Continue</a></div>
        </div>
        <div class="col-sm-6">
          <div class="well" data-match-height="items-well" style="height: 413px;">
            <h2>Returning Customer</h2>
            <p><strong>I am a returning customer</strong></p>
            <EditForm Model="@_user" OnSubmit="HandleLogin">
                <DataAnnotationsValidator />
              <div class="form-group">
                <label class="control-label" for="input-username">Username</label>
                <InputText type="text" name="username" @bind-Value="_user.Username" placeholder="Username" id="input-username" class="form-control"/>
                <ValidationMessage For="@(() => _user.Username)"/>
              </div>
              <div class="form-group">
                <label class="control-label" for="input-password">Password</label>
                <InputText  type="password" name="password" @bind-Value="_user.Password" placeholder="Password" id="input-password" class="form-control"/>
                <ValidationMessage For="@(() => _user.Password)"/>
                <a @onclick="ForgotPassword">Forgotten Password</a></div>
              <input type="submit" value="Login" class="btn btn-primary" disabled="@(!context.Validate() || !context.IsModified())">
            </EditForm>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>


