.delBoton {
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    padding: 5px 29px;
    font-weight: 400;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    background: #d9534f;
    text-decoration: none;
}
.delBotonClaro, .delBotonVerde {
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    padding: 5px 29px;
    font-weight: 400;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
}
.delBotonClaro {
    background: #f44336;
}
.delBotonVerde {
    background: #34b1da;
}
.admitidosButton {
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    padding: 5px 29px;
    font-weight: 400;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    background: #36d157;
    text-decoration: none;
}
    .admitidosButton:hover {
        background: #2b9d43;
    }

.contraseñaInput {
    height: 45px;
}

.inputPersonalizado {
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #dfdfdf;
    color: #888;
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    line-height: 15px;
    padding: 10px 6px 10px 10px;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.productosVIPdiv {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.tamañoFont {
    font-size: 15px;
}

.divButtonRight{
    margin-top: 20px;
    display:flex;
    justify-content: right;
}

.divProductoCampos {
    display: flex;
    flex-direction: column;
}
.divProductoFilter {
    width: 25%;
    margin-left: 10px;
}

.delBotonClaro:hover {
    background: #d73d32
}
