@page "/producto/edit/img/{id:int}"
@using PracticaBlazor.UI.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Editar Imágen</h3>

@if (_producto == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <EditForm Model="@_producto" OnValidSubmit="Put">
        <div class="form-group">
            <label>Imagen: </label>
            <InputFile OnChange="@OnFileChange" multiple="false" accept="images/jpeg"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Editar producto" />
        </div>
    </EditForm>
}
@code {
    [Parameter]
    public int Id { get; set; }
    Producto _producto = null;

    protected override async Task OnInitializedAsync()
    {
        _producto = await Http.GetFromJsonAsync<Producto>($"/api/Productos/{Id}");
    }

    private async Task Put()
    {
        await Http.PutAsJsonAsync<Producto>($"/api/Productos/{_producto.Id}", _producto);
        Navigation.NavigateTo($"/producto/edit/{Id}");
    }
    private async Task OnFileChange(InputFileChangeEventArgs ev)
    {
        //get the file
        var file = ev.File;

        //read that file in a byte array
        var buffer = new byte[file.Size];
        await file.OpenReadStream(1512000).ReadAsync(buffer);

        //convert byte array to base 64 string
        _producto.Imagen = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";
    }

}
