<footer class="footer ">
    <div class="contendorAntendor">
    <div class="container">
        <div class="footer_modules">
            <div class="homebuilder clearfix ">
                <div class="tm-container ">
                    <div class="tm-inner">

                        <div class="row row-level-1 ">
                            <div class="row-inner  clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 ">
                                    <div class="col-inner ">

                                        <h3 class="box-heading">Información</h3>
                                        <ul class="box-content list-unstyled" data-match-height="items-f" style="height: 108px;">

                                            <li><a href="#">Sobre Nosotros</a></li>

                                            <li><a href="#">Delivery Information</a></li>

                                            <li><a href="#">Política de Privacidad</a></li>

                                            <li><a href="#">Terminos y condiciones</a></li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-4 ">
                                    <div class="col-inner ">
                                        <h3 class="box-heading">Mi cuenta</h3>
                                        <ul class="box-content list-unstyled" data-match-height="items-f" style="height: 108px;">
                                            <li><a href="#">Mi cuenta</a></li>
                                            <li><a href="#">Historial de pedidos</a></li>
                                            <li><a href="#">Buscar una lista de deseos</a></li>
                                            <li><a href="#">Certificados de regalo</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-2 col-xs-4 ">
                                    <div class="col-inner ">
                                        <h3 class="box-heading">Customer Service</h3>
                                        <ul class="list-unstyled" data-match-height="items-f" style="height: 108px;">
                                            <li><a href="#">Contacto</a></li>
                                            <li><a href="#">Devueltas</a></li>
                                            <li><a href="#">Mapa del sitio</a></li>
                                            <li><a href="#">Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 ">
                                    <div class="col-inner ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright">
            <p>Con tecnología gestionada por Brain Fantasy © 2022. Desarrollado por <a class="zemez" href="https://zemez.io"> Marcos Ruiz</a></p><!-- [[%FOOTER_LINK]] -->
        </div>
    </div>
    </div>
</footer>
