<footer class="footer ">
    <div class="contendorAntendor">
    <div class="container">
        <div class="footer_modules">
            <div class="homebuilder clearfix ">
                <div class="tm-container ">
                    <div class="tm-inner">

                        <div class="row row-level-1 ">
                            <div class="row-inner  clearfix">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 ">
                                    <div class="col-inner ">

                                        <h3 class="box-heading">Information</h3>
                                        <ul class="box-content list-unstyled" data-match-height="items-f" style="height: 108px;">

                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=information/information&amp;information_id=4">About Us</a></li>

                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=information/information&amp;information_id=6">Delivery Information</a></li>

                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>

                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-4 ">
                                    <div class="col-inner ">
                                        <h3 class="box-heading">My Account</h3>
                                        <ul class="box-content list-unstyled" data-match-height="items-f" style="height: 108px;">
                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=account/account">My Account</a></li>
                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=account/order">Order History</a></li>
                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=account/wishlist">Find a Wish List</a></li>
                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=account/voucher">Gift Certificates</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-2 col-sm-2 col-xs-4 ">
                                    <div class="col-inner ">
                                        <h3 class="box-heading">Customer Service</h3>
                                        <ul class="list-unstyled" data-match-height="items-f" style="height: 108px;">
                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=information/contact">Contact Us</a></li>
                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=account/return/add">Returns</a></li>
                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=information/sitemap">Site Map</a></li>
                                            <li><a href="https://livedemo00-opencart.template-help.com/opencart_prod-23516/index.php?route=simple_blog/article">Blog</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 ">
                                    <div class="col-inner ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright">
            <p>Powered By <a href="http://www.opencart.com">OpenCart</a><br> Electromo © 2022. Design by <a class="zemez" href="https://zemez.io"> Zemez</a></p><!-- [[%FOOTER_LINK]] -->
        </div>
    </div>
    </div>
</footer>
