@using PracticaBlazor.UI.Client.Services.CarroService
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject ICarroService CarroService

<AuthorizeView>
    <Authorized>

        <li class="dropdown">
            <a href="" title="My Account" class="dropdown-toggle" data-toggle="dropdown">
                <i class="bi bi-person-circle"></i>
                <span>Mi Cuenta</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left">
                <li>
                    <button @onclick="Perfil" class="dropdown-item"><i class="bi bi-person-lines-fill" style="margin-right:10px;"></i>Perfil</button>
                </li>
                <li>
                    <button @onclick="Logout" class="dropdown-item text-danger"><i class="bi bi-door-closed-fill" style="margin-right:10px;"></i>Salir</button>
                </li>
            </ul>
        </li>
    </Authorized>
    <NotAuthorized>
        <li><a @onclick="Login" href="/login" class=""><i class="linearicons-user" data-toggle="tooltip" title="" data-original-title="Login"></i><span>Iniciar Sesión</span></a></li>
        <li><a @onclick="Register" href="/usuario/registro" class=""><i class="bi bi-person-plus-fill" data-toggle="tooltip" title="" data-original-title="Registrase"></i><span>Register</span></a></li>
    </NotAuthorized>
</AuthorizeView>

@code {
    void Login()
    {
        Navigation.NavigateTo("/login");
    }
    void Perfil()
    {
        Navigation.NavigateTo("/usuario/perfil");
    }
    async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("token");
        await AuthStateProvider.GetAuthenticationStateAsync();
        CarroService.ResetTotalArticulos();
        Navigation.NavigateTo("/");
    }
    void Register()
    {
        Navigation.NavigateTo("/usuario/registro");
    }
}
