@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@using PracticaBlazor.UI.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation


<div class="page">


    <main>
        <Header />
        <CascadingValue Value="this">
            @Body
        </CascadingValue>
        <Footer />
    </main>
</div>



<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug">
</BlazoredToasts>


@code {

}
