@inject NavigationManager Navigation

<AuthorizeView Context="Main"  Roles="ROLE_ADMIN,ROLE_VIP">
    <Authorized>
    <li class="dropdown">
        <a href="" title="Zona Admin" class="dropdown-toggle" data-toggle="dropdown">
            <i class="oi oi-list-rich"></i>
            <span>Zona VIP</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-left">
            <AuthorizeView Roles="ROLE_ADMIN">

            <li>
                <button @onclick="AltaProductos" class="dropdown-item"><i class="bi bi-people" style="margin-right:10px;"></i>Alta Productos</button>
            </li>
            </AuthorizeView>
            <li>
                <button @onclick="RegistrarProducto" class="dropdown-item"><i class="bi bi-cpu" style="margin-right:10px;"></i>Registrar Producto</button>
            </li>
        </ul>
    </li>
    </Authorized>
</AuthorizeView>

@code {
    void AltaProductos()
    {
        Navigation.NavigateTo("/productosVIP/alta");
    }
    void RegistrarProducto()
    {
        Navigation.NavigateTo("/productosVIP/usuario");
    }
}
